# OS X
**/.DS_Store*
**/Icon?
**/._*

# Windows
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini

# Linux
**/.directory
**/*~

# npm
node_modules
package-lock.json
*.gz

#log
**/*.log
**/*.log.*

#vscode
.vs_code/

#config
.env
.venv
sqitch.conf

#test
coverage/
uploads/*
!uploads/default.png
.vscode/

/datalake.db
datalake.db
./datalake.db
.datalake.db
./cours
cours/