<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Association de quartier</title>
    <link rel="stylesheet" href="../view/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header class="bg-green-200 text-black py-1">
        <nav class="container mx-auto flex items-center justify-between px-4">
            <a href="/view/index.html">
                <div class="flex items-center space-x-4">
                    <img src="../wwwroot/logo.png" alt="Logo de l'association" class="w-20 h-20">
                    <h1 class="text-l font-semibold">Association de quartier "Vivre aux Lilas"</h1>
                </div>
            </a>
            <ul class="flex space-x-6">
                <li><a href="/view/bureau.html" class="hover:underline">Le bureau</a></li>
                <li><a href="#contact" class="hover:underline">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section
        class="relative bg-[url(../wwwroot/homepage.png)] bg-cover bg-center bg-no-repeat bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l ">
        <div
            class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l blur-sm">
        </div>

        <div class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8">
            <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
                <h1 class="text-3xl font-extrabold sm:text-5xl">
                    Bienvenue sur le site de l'association


                    <strong class="block font-extrabold text-rose-700"> "Vivre aux Lilas" </strong>
                </h1>

                <p class="mt-4 max-w-lg sm:text-xl/relaxed">
                    Nous sommes ravis de vous présenter le site officiel de l'association de quartier "Vivre aux Lilas".
                    Notre objectif est
                    de renforcer les liens au sein de la communauté, de vous tenir informés des événements à venir et de
                    vous fournir un
                    accès facile aux informations importantes concernant l'association.
                </p>


            </div>
        </div>
    </section>


    <section id="events" class="mb-2">
        {% for event in events %}

        <article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg m-2">
            <a href="{{ event.href }}">
                <img src="{{ event.image }}" alt="{{ event.title }}"
                    class="h-56 w-full object-cover max-w-md min-w-96   " />
                <div class="bg-white p-4 sm:p-6">
                    <time datetime="2022-10-10" class="block text-xs text-gray-500"> {{ event.date }}</time>
                    <h3 class="mt-0.5 text-lg text-gray-900">{{ event.title }}</h3>
                    <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
                        {{ event.content | safe }}
                    </p>
                </div>
            </a>
        </article>
        {% endfor %}
    </section>

    <footer>
        <ul>
            <li><a href="#">Politique de confidentialité</a></li>
            <li><a href="../view/bureau.html">Le bureau</a></li>
        </ul>
    </footer>
</body>

</html>